/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/dist/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/ConditionRelatedProblems/nbproject/private/
/ConditionRelatedProblems/build/
/BookPractices/nbproject/private/
/BookPractices/build/
/LabPractices/nbproject/private/
/LabPractices/build/
/ObjectsClassRelated/nbproject/private/
/ObjectsClassRelated/build/
